body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section {
    list-style: none;
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav-right-section a {
    margin-right: 10px;
    color: #000000;
}

nav .nav-right-section .menu-icon {
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 10px;
}